@use '../../styles/rwd' as *;
@import '../../styles/variables';

.header {
  background-color: $black;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: $white;
  justify-content: space-between;
  height: $mobileHeader;

  svg {
    color: $white;
  }

  @include tabletUp {
    height: $defaultHeader;
  }

  &__desktop--visible {
    position: absolute;
    left: -100%;
    @include tabletUp {
      position: relative;
      left: unset;
    }
  }

  &__logo {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__menu {
    display: none;
    gap: 28px;

    &__link {
      font-size: 18px;
      text-decoration: none;

      span {
        padding-right: 30px;
      }
    }

    @include tabletUp {
      display: flex;
    }
  }

  &__burger {
    display: flex;
    position: relative;

    &__toggle {
      width: 30px;
      height: 38px;
      visibility: hidden;

      &:checked ~ .header__burger__menu {
        display: flex;
        transform: translateY(0);
      }

      &:checked ~ .header__burger__label .header__burger__menu-icon {
        display: none;
      }

      &:checked ~ .header__burger__label .header__burger__close-icon {
        display: flex;
      }
    }

    &__label {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      cursor: pointer;
      z-index: 1;
    }

    &__close-icon {
      display: none;
    }

    &__menu {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      height: calc(100vh - $mobileHeader);
      width: 100vw;
      background-color: $black;
      transform: translateY(100%); /* Начальное положение меню (скрытое) */
      transition: transform 0.3s ease-in-out; /* Плавное появление меню */
    }

    @include tabletUp {
      display: none;
    }
  }

  @include tabletUp {
    padding: 0 50px 0 30px;
  }
  @include desktop {
    padding: 0 90px 0 80px
  }

}
